[2014-02-28 18:41] devinus opened #2 "Brings up developer console (crashed?)"
Fails to syntax highlight.

[2014-03-01 21:07] #2 closed, assigned to nobody

[2014-03-03 22:57] devinus opened #5 "Commenting uses /* */"
Using Cmd+/

[2014-03-05 02:59] #5 closed, assigned to nobody

[2014-03-08 02:38] lowks opened #6 "missed an "e" in your description for your project"
Just a minor but you missed an "e" in your description for your project

[2014-03-08 02:46] #6 closed, assigned to nobody

[2014-09-29 06:01] jhancock opened #9 "help command not working as expected"
ERROR:  Coding too late at night!  Posted this issue to the wrong project ;).  Should be in https://github.com/jerp/elixir-cmd

I have successfully built my phoenix project with shift-command-B.  In the index controller handler, I add this line to test out the help feature:
 IO.puts "help"
I'm able to get help on both IO and puts.  Cool.
Now I try with the cursor on Phoenix.Controller and get the

[2014-09-30 17:25] #9 closed, assigned to nobody

[2015-04-02 06:32] rubencaro opened #13 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

on atom 0.189.0

[2015-04-02 15:16] #13 closed

[2015-07-18 08:54] JustMikey opened #16 "Support for <% %>"
There is support for <%- %> and <%= %> tags, so I wonder if you could add support for <% %> as well?

[2015-07-31 04:15] shadabahmed opened #17 "Support for |>"
The most awesome operator in elixir should have its own highlighting. Right now it just looks plain:

![image](https://cloud.githubusercontent.com/assets/830679/9000673/e120b4a4-3768-11e5-9950-d4da19037d36.png)

[2015-08-01 15:55] JamesJahraus opened #18 "Lines -> Auto Indent (editor:auto-indent) misinterprets end)"
When end) it is interpreted as the end of the function, and incorrectly formats the module.

Example from: https://howistart.org/posts/elixir/1

Lines -> Auto Indent (editor:auto-indent)

defmodule Portal.Door do
...
-- def pop(door) do
---- Agent.get_and_update(door, fn
---- []    -> {:error, []}
---- [h|t] -> {{:ok, h}, t}
---- end)
end
end

The auto-indent interprets end) as end for def pop.

E

[2015-08-09 01:53] armed opened #19 "`when` is not highlighted as keyword"
<img width="395" alt="screen shot 2015-08-09 at 7 51 55 am" src="https://cloud.githubusercontent.com/assets/223060/9153234/93776090-3e6b-11e5-8bc9-374d59cda0b3.png">

[2015-08-09 15:36] #19 closed

[2015-10-16 07:29] rktjmp commented on #17
There are two parts to this issue, `elixir.cson` and your themes stylesheet.

Support exists in `elixir.cson#526`, but it seems that regex for `\|` overrides the search for`\|>` (I guess because it matches first?). So the order has to be swapped around:

[code]

to

[code]

Next, its unlikely that your theme is applying styling to `keyword.operator`, because this would style everything like `+`, `

[2015-12-11 01:29] divmgl opened #23 "Error: Line number (23) greater than maximum line (10)"
Currently getting this error:

[code]

[2015-12-11 01:29] divmgl commented on #23
Wrong repo, leaving

[2015-12-11 01:29] #23 closed

[2015-12-25 18:40] dalexj opened #24 "More interpolation support"
### Requested Feature
I'd like to see the parsed markup of interpolated strings with elixir match/closely match the markup that the built in atom ruby language generates.

### Reasoning
This will allow more theme/syntax highlighting packages to work more completely with elixir.

### Other information
I have not spent the time to look into how language/grammar parsing works with atom, so I'm unsure

[2015-12-28 09:51] jvantuyl opened #25 "Allow Specifying Location of Elixir Environment"
Using the PATH to find `iex` isn't a very smooth experience on Mac OS X.  Changing the environment when launched from the Dock requires some light voodoo that doesn't really help make anyone productive.  It would be much easier to be able to specify where it is located and move on with things.

The ability to more selectively choose an elixir environment would also allow:

* easier control of defa

[2015-12-28 09:52] jvantuyl commented on #25
Ignore me.  I opened this on the wrong package.  *facepalm*

[2015-12-28 09:52] #25 closed

[2016-01-02 10:55] victorlcampos commented on #16
https://github.com/phoenixframework-Brazil/phoenix-snippets

[2016-01-02 19:59] keathley opened #27 "Ligature support"
There is limited support for ligatures like `|>` and `->`. This is because the current regex divides `|`, `>`, `-` and `>` as separate symbols and Atom can't combine the symbols into one ligature. I attempted to fix this myself but frankly my regex foo and knowledge of atom grammars is fairly weak. If you want to point me in the right direction I would be happy to work on this issue.

Also potenti

[2016-01-16 13:11] gusaiani commented on #27
+1, this is beautiful with Atom and FiraCode.

+1 to the thanks for this package as well, @lucasmazza ♕

[2016-01-18 18:53] keathley commented on #27
Fixed in #30

[2016-01-18 18:53] #27 closed

[2016-01-18 18:59] keathley commented on #17
The `|>` operator should now be matched correctly. If you want to apply any alternative syntax highlighting to them you can use @rktjmp's suggestion or something similar.

[2016-01-18 18:59] #17 closed

[2016-01-18 19:18] #16 closed

[2016-01-18 19:45] keathley commented on #18
The issue that is the `[] -> {:error, []}` and `[h|t] -> {{:ok, h}, t}` aren't indented for that update code block. When you add the `end` it moves back a line. Since both of those function definitions are _inside_ of the agent function then conventionally they should be indented anyway.

I've created a fix for this in #32

[2016-01-18 19:45] #18 closed

[2016-01-18 20:04] keathley commented on #24
@dalexj is this still an issue that you're having?

[2016-01-18 20:40] dalexj commented on #24
just updated to `0.7.2`

it seems to be highlighting correctly inside interpolated strings, much appreciated

I'd still love a light wrapper around the contents between `#{` and `}` to be a `span.source.elixir` similar to the ruby highlighting, so variable names, etc (anything not picked up by any deeper highlighting) could be highlighted differently than the surrounding string

[2016-01-19 03:01] keathley commented on #24
There aren't any visual differences between the elixir implementation and the ruby implementation that I'm aware of. Is there is a specific use case that you want to support?

[2016-01-19 03:37] dalexj commented on #24
yes it is most likely a more specific use case. my current theme gives me different highlighting inside string so its easier for me to see interpolated values:

![](http://puu.sh/mB4dI/6ab116372c.png)

![](http://puu.sh/mB4f8/b04850a71e.png)

I doubt adding the wrapper would break it for anyone else, because this is the way the ruby highlighting uses it

[2016-01-19 11:13] gusaiani commented on #27
This being implemented really made my day. Thanks!

[2016-01-21 17:06] cjbottaro commented on #24
Can we also get `#` to expand to `#{}` with the cursor placed in the middle when inside a string?  Like how Ruby string interpolation works in Atom?  :)

[2016-01-21 17:26] keathley commented on #24
@cjbottaro can you open a separate issue for that?

[2016-02-10 15:18] vdaniuk opened #38 "Regexp support in elixir-lang"
The regexp expression in elixir-lang is not detected as a regex by Atom and as a consequence regex packages like regex-railroad aren't activated. Simple example:
[code]

[2016-02-16 04:02] keathley commented on #38
Looks like the issue is that its just matching all sigils as interpolated elixir strings.

[2016-02-16 04:05] keathley commented on #24
Just to update I'm looking at this along with #38. The interpolation code is what was generated from the TM bundle and I'm having to do quite a bit of cleanup.

[2016-02-16 04:33] keathley commented on #24
@cjbottaro Expanding `#` to `#{}` is actually handled in the bracket matcher package: https://github.com/atom/bracket-matcher.

It'll have to be fixed there

[2016-02-16 16:12] dalexj commented on #24
@cjbottaro
I've actually hacked into bracket matcher locally to expand this as needed, but never went through and made a full PR to the package. If you add the selector for elixir strings into the `segments` array  `lib/bracket-matcher.coffee` around like 185, it should work. I think the selector you want is `'string.quoted.double.elixir'` (not 100% sure since my elixir lang is hacked on that sele

[2016-02-16 16:30] keathley commented on #24
@dalexj if you want to submit that upstream to bracket matcher that would be great. Otherwise I'll submit a PR once I'm done with the interpolated string changes. Also feel free to submit a PR with any improvements you've made and we can discuss them.

[2016-02-17 12:49] ericmj opened #40 "do[ENTER] autocompletes to the @doc snippet"

[2016-02-17 15:22] #40 closed

[2016-02-17 15:23] ericmj commented on #40
Thanks!

[2016-02-17 15:28] keathley commented on #40
@ericmj :+1:

[2016-02-17 15:57] keathley commented on #40
@olivermt If this continues then you might have to look into this issue: atom/autocomplete-snippets#61. Looks like the proper fix should be in the next release of atom when they bump the version for autocomplete-snippets

[2016-02-24 14:23] gusaiani opened #42 "Snippets for inline def, defp"
In my own snippets file, I’ve been using snippets for inline `def` and `defp`, like this:

[code]

I’ve been finding it a welcome addition, and wonder if this would make sense for more people.

[2016-02-25 02:00] keathley commented on #42
I love this. I'd like to keep the prefixes semantically the same with the `def` and `defp` prefixes. Something like `idef` and `idefp`. If you want to open a PR with these changes that would be the best place to discuss it :+1:

[2016-02-25 02:00] #42 closed

[2016-02-25 14:20] p-kraszewski opened #44 "Lines -> Auto Indent (editor:auto-indent) misinterprets case branches"
atom: ver `1.6.0-beta6-8bd4c99`
language-elixir: ver `0.11.1`

It seems auto-indent does not properly unindent branches of `case`.

Instead of
[code]
you get
[code]

[2016-03-01 19:04] duien opened #45 "Support highlighting TODO comments with language-todo"
Currently, "TODO", "FIXME", etc. keywords are not highlighted inside of comments in Elixir. In order for the `language-todo` package to highlight those, the grammar for comments must use `begin`/`end` patterns instead of `match`.

See atom/language-go@e5180ac for an example of the change that would need to be made.

I'll likely try to make a PR to fix this, but wanted to open an issue in the meant

[2016-03-03 13:16] gusaiani opened #46 "Syntax recognition for Bitwise >>> and &&&"
This is, at least to me, a total edge case.

Working with Dave Thomas’ book, I came across code using the Bitwise macro.

There, `>>>` and `&&&` were not recognized as Elixir syntax, which in the case of `|>`, `<>` and many others prints a marvelous ligature if ligatures are enabled. I checked and FiraCode, the popular font with ligatures, does have those two ligatures in its set.

[2016-03-03 19:27] keathley commented on #46
Thanks for catching this. I've opened a PR that should fix it if you want to check it out.

[2016-03-03 21:09] #46 closed

[2016-03-04 02:12] keathley commented on #45
Thanks for catching this @duien. I just noticed your note about submitting a PR. I was already in the process of fixing a few things and I skimmed over it :confused:

If you want to check out the PR that I pushed up and let me know what you think that would be awesome.

[2016-03-04 02:59] keathley commented on #24
I've submitted a fix to bracket matcher: atom/bracket-matcher#221.

I'm going to close this for now because at this point there's no visual difference between the Ruby version and the elixir version. I have noticed a few themes that update ruby variables in strings by specifically targeting ruby. The [solarized dark themes do this for instance](https://github.com/atom/solarized-dark-syntax/blob/ma

[2016-03-04 02:59] #24 closed

[2016-03-06 18:49] #45 closed

[2016-03-07 23:01] duien commented on #45
Thanks for fixing this! No worries at all about my planned PR -- I clearly hadn't gotten around to it :smiley:

The fix is working great for me, so I'm happy!

[2016-04-04 19:45] bjfish opened #53 "Case used as a variable being highlighted as a keyword"
Note the difference in the key/values in the pattern match:

![screen shot 2016-04-04 at 2 44 38 pm](https://cloud.githubusercontent.com/assets/110023/14260956/d59a6908-fa73-11e5-999b-10a4a39dfe46.png)

[2016-04-06 02:31] keathley commented on #53
So it looks like the `case` is matching too specifically. Which would mean that the other control structures have this same issue. I suspect that this can be fixed by matching on something like: `/case (.*)+ do/`.

[2016-04-17 16:44] keathley opened #54 "Better documentation snippets"
Right now the documentation snippets aren't very complete and aren't very usable. Ideally we could create a snippet like:

[code]

But unfortunately this is currently not supported in atom. There's an open issue on this here: atom/snippets#140. Based on the resolution of that issue I'd like to rework the documentation snippets to be more consistent.

[2016-04-20 15:53] keathley opened #55 "Indent line after `=`"
The current style is to indent lines after a `=`. For instance something like this:

[code]

It would be nice to provide support for this pattern.

[2016-05-04 17:41] almightycouch opened #56 "prepending variable ending with do to a list breaks syntax highlighting"
Prepending a variable which name ends with `do` to a list, breaks the syntax highlighting:

[code]
<img width="518" alt="Screenshot" src="https://cloud.githubusercontent.com/assets/7694587/15023235/f71605c8-122f-11e6-9bd6-93e866223999.png">

[2016-05-04 18:44] almightycouch opened #57 "Sigils and syntax highlighting"
I found a few issues with sigils and syntax highlighting.

* Sigils do not work with lowercase letters:

  <img width="161" alt="screenshot" src="https://cloud.githubusercontent.com/assets/7694587/15024993/7bb021e0-1237-11e6-91a3-1bed3c4739c0.png">

* Sigils should only allow the 8 different delimiters:

  <img width="157" alt="screenshot" src="https://cloud.githubusercontent.com/assets/7694587/15

[2016-05-06 03:54] keathley commented on #56
Thanks for submitting this. I think I have a fix but I need to do a bit more testing and write some proper unit tests.

[2016-05-10 20:16] ramsay-t commented on #44
I have the same problem. The most frustrating part is that it then throws off all the following statements' indentation because the 'end's are out, so after a few case statements my def statements are 40 characters in!

[2016-05-11 13:38] keathley commented on #44
How should we distinguish between a new case and just a plain old new line?

For instance you might want to do something like this:

[code]

The only distinguishing factor is the `->` however we can't just de-indent lines that contain `->` because it would break anonymous functions in case statements. We'll have to ignore anonymous functions for de-indenting purposes.

Any thoughts?

[2016-05-12 06:00] ramsay-t commented on #44
I'm not sure, its an interesting question. How much parse/grammar information do you get from Atom?

Its lines that start "[pattern] ->" that need de-indenting. Even if they are part of an anonymous function they will want to be aligned back a bit, so:

[code]

(I haven't got the hang of this markdown system... )

It works in Emacs, so I would say:  what do they do? But I can't read Lisp, so I'm n

[2016-05-13 20:51] #55 closed

[2016-05-14 03:26] keathley commented on #44
The Emacs implementation has the ability to run real code so it isn't very analogous here. Atom works by creating regex rules for indenting and de-indenting. I'll keep looking for solutions here but unless someone has some better insight the solution is going to be non-trivial. We'll also need to make sure that this solution works for `cond` as well.

[2016-05-16 20:27] keathley commented on #44
I've spent some time looking into how other languages implement this in atom. The majority of packages do 1 of 2 things:

1) They've implemented it the same way that we have (and have the same problems). The Elm package behaves in this same way for instance.

2) They don't indent new lines after case statements. This avoids the problem with re-indenting altogether but means that the user has to hi

[2016-05-19 01:49] keathley commented on #53
@bjfish I've opened a PR that should solve this. Let me know what you think.

[2016-05-19 02:24] #56 closed

[2016-05-19 02:30] #53 closed

[2016-05-19 02:31] keathley commented on #53
I'm closing this for now. Let me know if something still doesn't look correct.

[2016-05-19 02:41] gusaiani commented on #54
Just an observation, `\"""` seems to work just as well as `\"\"\"`.

[2016-05-19 02:45] keathley commented on #54
Good catch. Unfortunately we're still stuck until that issue is resolved. I've thought about changing the snippet to something like:

[code]

That way the user can hit enter to expand the doc. Its not an ideal solution but it would provide better support until atom works out a fix upstream.

[2016-05-19 02:57] gusaiani commented on #54
Seems just fine for the time being.

[2016-05-19 03:01] gusaiani commented on #54
This seems to work, apparently even for nested modules:
[code]

[2016-05-19 03:04] keathley commented on #54
Thats awesome!!! Would you want to submit a PR with with these fixes? If not thats fine. I can try to get to it a bit later.

[2016-05-19 03:17] keathley commented on #57
Thanks for submitting this! Sigils have been one of the most complex pieces of the package. Let me know if you find any other edge cases.

[2016-05-19 03:37] gusaiani commented on #54
Glad you liked it :)
If you can point me to which snippets you're planning to add or fix, I'll be happy to give them a shot.
It's getting late here, I'll be back tomorrow.
If you'd rather go ahead and tackle them, all the merrier.

Thanks always for this package.

[2016-05-19 05:48] keathley commented on #38
I've opened a PR to handle this. Looks like some changes will need to be made to regex-railroad to correctly interpret elixir regex.

[2016-05-19 05:57] keathley commented on #54
Lets just start with the `doc` and `moduledoc` snippets. I think that we're missing snippets for almost all of the attributes (`@callback`, `@type`, `@spec`, etc.) but we can handle that in another PR.

[2016-05-23 10:38] almightycouch opened #64 "Comment variables starting with underscore"
A variable starting with an underscore is meant to be ignored. The Elixir compiler warns the user if he tries to use such a variable or if an unused variable is not starting with `_`.

Other editors highlights a variable starting with an underscore as commented. It makes it clear that the variable is unused.

Would be nice to have this in Atom too.

[2016-05-24 03:23] #57 closed

[2016-05-24 03:24] #38 closed

[2016-05-24 06:21] keathley commented on #64
I like this idea. Do you know if this is a common pattern in atom? It seems like a quick solution might be to tokenize underscored variables as comments, but I'm not sure what sort of side effects that might have. If that doesn't work then we might have to supply a basic style for "unused" variables that uses the current themes `@mono` color.

[2016-05-24 12:24] kuon opened #65 "Auto indent not indenting scopes in html.eex files"
For example, the following code is the result of auto indent with the plugin:

[code]

but it should be formatted like so:

[code]

`<%= .... %>` with a corresponding <% end %> should be indented.

[2016-05-24 15:03] keathley commented on #65
Thanks! I'll take a look at this.

[2016-05-24 15:59] keathley commented on #54
Closed with #62 and #63

[2016-05-24 15:59] #54 closed

[2016-05-25 01:58] keathley commented on #64
@almightycouch I've opened a PR that may address this. So far its looking OK to me. I'm still not sure if marking a variable as a comment is going to have any weird side effects though. If you'd like to pull down the branch and try it out locally that would be👌.

[2016-06-01 03:30] keathley commented on #64
@almightycouch This has been merged. Let me know if you have any other issues.

[2016-06-01 03:30] #64 closed

[2016-06-01 10:55] almightycouch commented on #64
Works and looks great!

👍

[2016-06-05 09:03] armed opened #67 "Short `do:` block is not properly highlighted"
`do:` with semicolon is highlighted as map/keyword key:
<img width="274" alt="screen shot 2016-06-05 at 3 01 27 pm" src="https://cloud.githubusercontent.com/assets/223060/15804547/898e9ab6-2b2e-11e6-8cfe-3e63157f6265.png">

[2016-06-10 02:41] ymtszw opened #68 "Remove `\b` and anchor string ("documentation") from doc snippets"
Currently, snippet body for `@doc` is defined as:

[code]

Same goes for `@moduledoc` and `@typedoc`.

My understanding of reason for use of `\b` (in this case backspace) is, to negate additional indentation inserted by editor.
Since without `\b`s, generated snippet will become like this:

<img width="235" alt="2016-06-10 11 11 04" src="https://cloud.githubusercontent.com/assets/4507126/15952476/1

[2016-06-10 04:30] keathley commented on #68
Its fine if you want to open a PR for this. Leaving the backspace character is definitely not the desired behaviour. The fix you're describing is the original implementation of the doc snippet. The original issue was that even though the cursor was positioned correctly, because the previous whitespace was selected when the user started typing the text would replace the whitespace. The end result w

[2016-06-10 04:41] YuMatsuzawa commented on #68
@keathley Actually, I found that flaw (previous whitespace was selected) after I opened this issue :P
We cannot start typing right after the snippet expansion with the above fix.
I'll look for more precise solution for a while.

Thanks for reply!

[2016-06-10 14:50] keathley commented on #68
No worries. This has been an issue for a while. If you can come up with something I'd be happy to see it.

[2016-06-11 16:38] nii236 commented on #67
The indentation also does work on a newline if you use `do` instead of `do:`

[2016-06-11 22:18] keathley commented on #67
@armed: I'm not sure that this is a bug. In this case the do _is_ a keyword. Should we have a special case for `do:` as a keyword? My gut feeling is that we shouldn't.

@nii236: I'll take a look at this.

[2016-06-12 03:29] nii236 commented on #67
@keathley: Thanks! I added two gifs comparing `vim` and `atom` for your reference.

## Vim

![elixir_vim](https://cloud.githubusercontent.com/assets/4482567/15988811/e3cf53dc-3090-11e6-8b41-7ce643220b6c.gif)

## Atom

![elixir_atom](https://cloud.githubusercontent.com/assets/4482567/15988813/ecac1990-3090-11e6-98e1-543e9795ec70.gif)

[2016-06-12 06:38] armed commented on #67
@keathley I got your point, but what confused me is that before commit 264ffbf528fcb3129c191d60d8aa22b6770d3449 `do:` along with `do` was highlighted as other keywords.

[2016-06-12 11:02] nii236 commented on #67
That's fine, I'll make a new issue

[2016-06-12 11:02] nii236 opened #69 "Unnecessary extra tab character after newlines for `do` keyword"
Please see the gifs below:

## Vim

![elixir_vim](https://cloud.githubusercontent.com/assets/4482567/15988811/e3cf53dc-3090-11e6-8b41-7ce643220b6c.gif)

## Atom

![elixir_atom](https://cloud.githubusercontent.com/assets/4482567/15988813/ecac1990-3090-11e6-98e1-543e9795ec70.gif)

[2016-06-12 12:52] #67 closed

[2016-06-12 14:16] keathley commented on #67
@armed Sorry for the confusion. I wish there was a better way to communicate these sorts of changes so people aren't surprised by them. It would be cool if atom pulled in release notes or something similar.

[2016-06-27 06:31] LaughingBubba opened #71 "Erlang home configuration setting missing"
Hi, from time to time I get the above as a flash message in atom on Windows 10 (when editing elixir code)

The thing is, I do have erlang installed and the environment variable set up. I get the following when I do an env in the CLI ("..." meaning other environment variables)
[code]

I also happen to have the erlang package installed in atom and it seems fine. Syntax checking and code completion a

[2016-06-27 17:25] keathley commented on #71
We don't require any environment variables in this package. Its simply the highlighting for elixir grammars. Its probably another elixir package that you have installed.

[2016-06-28 00:10] LaughingBubba commented on #71
Ah! Yes it was the [autocomplete-elixir](https://atom.io/packages/autocomplete-elixir) package which has a few open issues related to this.

I updated the (optional for windows) settings and that seems have done the trick.

Thanks!

[2016-06-28 00:10] #71 closed

[2016-07-01 14:43] keathley commented on #69
I'm not able to re-create this. Are there any other settings that I should be aware of?

[2016-07-01 14:57] nii236 commented on #69
Yeah! It turns that since I code a lot of Go, my tab were set to 8 spaces. I've set them to 2 spaces now and it's not behaving as expected. Thanks for getting back to me!

[2016-07-01 14:57] #69 closed

[2016-07-01 15:01] keathley commented on #69
No problem. Sorry it took a while. You probably already know this but you can set language level tab lengths for each language package. I typically set them for things like ruby, go, or elixir where there is a standard tab length "style".

[2016-07-03 15:54] YuMatsuzawa commented on #68
Hi, it's been a while but I couldn't find perfect solution.
Though I've found another clunky behavior related to `\b` insertion. Might be already on your radar.

Cursor position after snippet expansion is indeed correct, but when you delete placeholder string (`documentation`) right after expansion, cursor disappears.

<img width="196" alt="2016-07-04 0 29 37" src="https://cloud.githubusercontent.

[2016-07-04 10:35] ericmj opened #72 "Heredocs do not work correctly with sigils"
An example is `module.ex` in Elixir core.

[2016-07-04 19:52] keathley commented on #68
I agree. We should revert this to the original implementation. Hopefully atom will either fix this or provide a solution in the future.

[2016-07-05 07:56] YuMatsuzawa commented on #68
Thanks, opened PR.

[2016-07-06 19:16] keathley commented on #72
TIL heredoc quotes work as another delimiter for all sigils. Thanks for pointing this out :+1:

[2016-07-21 02:27] keathley commented on #68
Closing this now that #73 has been merged.

[2016-07-21 02:27] #68 closed

[2016-07-21 23:49] keathley commented on #72
This should be fixed in the latest release. Lemme know if you still have issues.

[2016-07-21 23:49] #72 closed

[2016-08-27 16:27] sotojuan opened #77 "No HTML syntax highlighting in EEx files"
<img width="1061" alt="screen shot 2016-08-27 at 12 19 54 pm" src="https://cloud.githubusercontent.com/assets/8217766/18028604/6f34ec38-6c51-11e6-97d3-2528be85a2d9.png">

Atom: 1.9.9
language-elixir: 0.16.0

FWIW it also happens in Sublime.

[2016-08-27 21:24] sotojuan commented on #77
My bad—I was using the wrong file extension 😅

[2016-08-27 21:24] #77 closed

[2016-09-09 10:48] Ljzn opened #78 "Auto-complete will lose "?""
language-elixir 0.16.0

example :

`def is_true?, do: "yes"`

The auto-complete will show `is_true`

[2016-09-09 13:54] keathley commented on #78
@Ljzn are you using any other plugins like autocomplete elixir or atom-elixir? I'll look into issues with autocomplete+ to see if there are any open issues.

[2016-09-09 14:20] keathley commented on #78
Looks like this is an existing issue in autocomplete-plus: atom/autocomplete-plus/issues/715

[2016-09-22 10:45] hupahupa opened #80 "Can't compile on Centos 7"
Hi team,
I got this error when try to compile

[code]

Please help

[2016-09-22 14:56] keathley commented on #80
Hey @hupahupa. I think you might have the wrong repo. This repo is for the language package for the atom editor. You're probably looking for https://github.com/elixir-lang/elixir.

[2016-09-22 14:56] #80 closed

[2016-10-12 11:25] rpowelll opened #81 "Function names prefixed with an underscore are treated as comments"
<img width="474" alt="screen shot 2016-10-12 at 10 22 44 pm" src="https://cloud.githubusercontent.com/assets/320910/19308330/a2391e68-90ca-11e6-874f-9b172e1b1e8b.png">

Like the title says, a call to a function whose name begins with an underscore character, such as in the example above, is incorrectly treated as a comment.

Here's what I get when logging the scope at line 3, column 42:

<img widt

[2016-10-12 14:48] keathley commented on #81
They're marked as comments so that they are syntax highlighted correctly by atom themes. There is a PR to add an additional `variable` scope. Is there a specific issue that you're having with this?

[2016-10-12 22:32] rpowelll commented on #81
Yeah I'm fairly new to Elixir so I'm still working out naming conventions, for what it's worth this program is copied pretty much verbatim from _Programing Elixir 1.3_. But this is still a syntactically legal name for a function, so I'd say highlighting it as an ignored pattern match is a bug.

[2016-10-13 02:45] rkma commented on #81
I submitted #79 to handle cases like this. Would you mind taking a look at it, @keathley ?

[2016-10-16 17:24] keathley commented on #81
@rkma I'm not sure how your PR resolves this. It marks everything starting with an underscore as an `other variable` which wouldn't syntax highlight in the same way that other functions are highlighted either.

In order to solve this we need to *not* identify unused variables outside of pattern matching. That means it'll need to work with function arguments, `case`, `cond`, and `=` (thats what I c

[2016-10-17 07:05] ymtszw commented on #81
@keathley
I was on the same boat in that we sometimes use functions with leading `_` to denote generated-and-used-behind-the-scenes functions.
So I have tried to implement that behavior but found it very cumbersome to cover perfectly.

Instead, I have found a band-aid solution which MIGHT suit for certain use cases.

Current pattern for unused variable:

[code]

Make it like this (could use some r

[2016-11-23 09:02] Dalhai opened #82 "Elixir scripts automatically executed on save"
When an Elixir script is saved, it is automatically executed. This is especially annoying when you are writing scripts to move/delete files. Putting the code in a module def or an fn is one way to avoid this, but
remembering that every time you write a script is a tad bit cumbersome.

I disabled every package, restarted and enabled every single package on its own with restarts in between. The beha

[2016-11-23 16:17] keathley commented on #82
Hey @Dalhai, I'm pretty surprised that this package is causing that issue since all this package does is syntax identification and highlighting. It might be that disabling this package is causing a different package to behave differently. Can you cat your config file and paste the output here. Should be something like: `cat ~/.atom/config.cson`. That should help figure out whats going on. Also, wh

[2016-11-23 17:09] Dalhai commented on #82
Hey @keathley.

Thanks for the fast answer.

I've been tinkering with it a bit and ended up doing a clean reinstall of atom. I only installed your plugin and none others. The issue did not resurface, so it must have been some weird interaction with the rest of my plugins.

Also, for some reason ~/.atom/config.cson does not exist (and didn't before the clean reinstall).  The hidden atom folder did

[2016-11-23 17:15] #82 closed

[2016-11-23 18:05] keathley commented on #82
Glad you got it sorted :+1:

[2016-11-28 12:14] asincrono opened #83 "'#' replaced by '#{}' inside documentation blocks."
When I type '#' inside ' """ ' documentation block I get it replaced by '#{}'.
I understand it should be interpreted as a markdown code.
I get:
[code]
instead of
[code]

Am I doing something wrong?

[2016-11-28 18:37] keathley commented on #83
The heredoc string is still a string. So the `#` is expanded to `#{}` like it is in other strings. Since heredocs allow string interpolation I'm not sure that this is a bug. However, `~S"""` also auto-expands the `#` which definitely is a bug. It should work the same way that `~S` does.

[2016-12-22 05:45] ckLee8 commented on #83
I've been having trouble with this too. I tried creating an docexample snippet to maybe get a work around, but it isn't triggered because atom is picking up anything inside a @doc as a string :(

 'docexample':
    'prefix': 'docexample'
    'body': '## Examples\n\n\t\t\t$0\n'

[2016-12-26 16:34] keathley commented on #83
Looks like we'll need to submit a fix upstream to the atom/bracket-matcher plugin. This line needs to be removed:

https://github.com/atom/bracket-matcher/blob/075251fc2d36bd71b139a2ca153f67313cc052d5/lib/bracket-matcher.coffee#L166.

[2017-02-09 12:54] syamilmj opened #84 "New release?"
Can we get a new release on atom.io packages?

[2017-02-09 15:02] keathley commented on #84
Done. Thanks for the reminder.

[2017-02-09 15:02] #84 closed

[2017-03-08 09:02] phyllisstein opened #86 "Capturing function arguments?"
Hey there! I hate to be a nudzh, but I was hoping I could suggest a small enhancement to this package. I noticed that the Sublime Text Elixir package has a scope for arguments in a function definition, but that the Atom grammar does not:

<img width="1192" alt="screen shot 1" src="https://cloud.githubusercontent.com/assets/2207980/23694393/abf6f3bc-03a7-11e7-9f4b-3365aa68a5af.png">

![screen shot

[2017-03-23 19:26] colbydehart opened #87 "Indentation of multiline maps/keyword lists/structs"
If i try to indent a multiline map the plugin will indent the map incorrectly. For example, the auto-indented map will look like this.
[code]
Where it should be
[code]
of note, if you try to make a map with newlines (i.e. javascript style), it auto-indents fine.
[code]
however, this is not usually how elixir code is formatted. The same is true for keyword lists as well as structs.

[2017-03-30 16:29] Euklidian-Space opened #88 "keyword"

[2017-03-30 16:30] Euklidian-Space commented on #88
Not  a huge issue, but the keyword 'in' doesn't get highlighted.  Anyone else experiencing this?

[2017-03-30 17:55] keathley commented on #88
`in` is being marked as an operator correctly.

<img width="1287" alt="screen shot 2017-03-30 at 1 45 00 pm" src="https://cloud.githubusercontent.com/assets/1642095/24518258/501e2196-154f-11e7-955d-03ea28797da7.png">

The reason that `in`, `and`, and other operators aren't highlighted is that themes tend to use the base color for operators. We could mark operators as control structures but I'm not

[2017-03-30 17:55] #88 closed

[2017-06-06 13:26] keathley commented on #86
Thanks @phyllisstein I'll take a look at it.

[2017-06-06 13:35] keathley commented on #81
@ymtszw Now that functions without parens are being warned we might be able to solve this. One use case that you'll have to watch out for though is when you have a function that comes after a pipe like: `|> _underscored_one_arity_function_call` since the parens are still optional at that point.

In general I guess I'm not sure what the utility of prefixing a function with `_` is. If its supposed t

[2017-06-06 13:36] keathley commented on #78
Closing since this isn't related to this package.

[2017-06-06 13:36] #78 closed

[2017-06-06 13:45] keathley commented on #87
Thanks @colbydehart!

I can try to take a look at this. The indenting regex is notoriously tricky. A friend of mine tried to have a go at fixing this and eventually gave up in frustration :wink:.

I don't necessarily agree that the later example isn't normally how elixir code is formatted. I use that formatting for maps and keyword lists quite often. That said, it would be nice to make the "lisp"

[2017-06-06 13:52] keathley commented on #83
This issue has been open for a while now. Sorry about that. I'm going to try to take care of this within the next week or so. But @ckLee8 if you would like to submit a PR to bracket matcher then feel free 👍 . If not then no worries. I'll try to take care of it soon.

[2017-06-06 14:56] ymtszw commented on #81
Well I am not so enthusiastic about this issue since at the end of the day, `_`-prefixed functions are, if any, rare occasions in Elixir codes. And yes, one can simply use normally-named private functions or just put them in "behind the scene" modules.

Although with Elixir 1.4+, function calls with explicit parens became popular in my sight, so my proposed "band-aid" solution is now actually okay

[2017-06-07 08:21] ymtszw commented on #81
I had thought changing this
[code]
to this
[code]
could exclude functions calls with negative lookahead.
Though it was partly okay, it turned out that it cannot nicely cover "underscored AND ?- or !-suffixed" function.
![2017-06-07 17 09 01](https://user-images.githubusercontent.com/4507126/26868483-1f21434e-4ba4-11e7-9441-a5cc6444484a.png)

Without word boundary character,
[code]
it stops matchin

[2017-06-07 18:42] keathley commented on #81
I totally understand how frustrating some of this stuff can be :smile:. Thanks for having a go at it. I'll go ahead and close this for now. We can revisit it later if we need to.

[2017-06-07 18:42] #81 closed

[2017-09-27 12:17] lukaszsamson opened #99 "Module attributes and template assigns not highlighted properly"
[code]

language-elixir version: 0.20.2

[2017-09-28 01:40] #86 closed

[2017-10-13 00:11] somlor opened #100 "custom classes for typespec keywords"
Currently using "monokai-shade" theme and the styles on typespec keywords are nearly white which is quite "loud", visually distracts from the function definition itself, and unfortunately discourages me from writing typespecs. 😞

I'd love to be able to target and adjust the styles on typespec keywords, e.g.:
- `@type type_name :: type`
- `@typep type_name :: type`
- `@opaque type_name :: type`
- `

[2018-07-29 19:45] adam-pog opened #106 "support for 'describe' and 'test'"
While 'describe' and 'test' are ExUnit macros, I noticed you already have snippet support for them. Are you planning on adding them to the grammar to support highlighting / would you accept a PR for it?

[2018-07-30 14:39] keathley commented on #106
I think this would be reasonable. What are you expecting to see them highlighted as?

[2018-07-30 19:28] adam-pog commented on #106
I would expect them to highlight the same as `def`, `defmodule`, `if`, etc. They seem to fit the same role as other 'control' keywords that encapsulate some related section of code.

[2018-07-31 00:32] keathley commented on #106
I think that could make sense. My only argument against this is that test and describe are really just macros. They're provided by ExUnit but otherwise they aren't really that special. Given that we don't highlight any other macros in this way I'm not sure it makes sense to do it here. That being said I don't feel super strongly about it. What do you think about that reasoning @adam-pog?

[2018-07-31 01:38] adam-pog commented on #106
@keathley Yeah that makes sense, and I also don't feel very strongly about it. I know many other testing frameworks have their own packages, but wasn't sure if ExUnit would be treated differently since it ships with elixir. I figured i'd check here first before going out of my way to make a specific 'language-exunit' package.

[2018-07-31 13:12] keathley commented on #106
I believe that the vim and emacs packages include the support for `describe` and `test` so I guess the precedent has already been set. We should probably support this as well.

[2018-08-12 19:37] keathley commented on #106
This has been published.

[2018-08-12 19:37] #106 closed

[2018-10-04 15:41] mstewart6 opened #108 "Indent Guide is misaligned with invisibles turned on"
![invisibles](https://user-images.githubusercontent.com/18093356/46485436-44b30a80-c7c1-11e8-9818-5bd9f7c44a34.png)

When using the indent guide with invisibles turned on, the guide lines get misaligned when blank lines surround non-blank lines. The guide lines get shifted over by 1px to the right for the guides with invisibles (see attached picture for reference).

Switching between themes when t

[2018-10-05 14:34] keathley commented on #108
@mstewart6 I'm not able to see this issue on my machine. Are you using a specific font that may be doing this?

Here's what I'm seeing on my machine:
<img width="337" alt="screen shot 2018-10-05 at 10 33 23 am" src="https://user-images.githubusercontent.com/1642095/46541505-367cf100-c88a-11e8-92ee-faef7ccff8f7.png">

[2018-10-05 15:02] mstewart6 commented on #108
@keathley No, I am using the default font. I have my font as size 13 (but I dropped it to the default as well to no effect). Using OSX 10.13 High Sierra, if platform matters.

The issue isn't with consecutive lines with spaces, it's when a completely blank line is adjacent to one with leading spaces. It is possible that it only affects heredocs, as that is where I am most consistent in reproducing

[2018-10-05 15:12] keathley commented on #108
Same setup, with default font size set to 13:

![image](https://user-images.githubusercontent.com/1642095/46543582-3c290580-c88f-11e8-98e7-c5940fa46979.png)

Have you tried disabling different packages to see if that effects this?

[2018-10-05 16:00] mstewart6 commented on #108
Aha, looks like there is a [fonts](https://atom.io/packages/fonts) package for monospace fonts that was causing this (but only for Elixir oddly). Disabling that makes everything look correct again.

Note that your latest repro does not have blank lines surrounding the indented one though. The lack of spaces was what was triggering it for me, though it now appears that the font package was to blame

[2018-10-05 17:54] keathley commented on #108
Ah I see. I think I've matched yours now:

![image](https://user-images.githubusercontent.com/1642095/46551556-15c29480-c8a6-11e8-994f-4a15d9524818.png).

In any case it sounds like its an issue with the fonts package. I'd open an issue up with them :+1:.

[2018-10-05 17:54] #108 closed

[2019-04-04 16:28] Bobbbby opened #109 "There are no install instructions and I don't know how to install this thing"

[2019-04-04 17:10] keathley commented on #109
You can install this package through atom's built in package installation similar to any other atom plugin. If you'd like to open a PR with additional details in the README I'd be happy to take a look at it.

[2019-04-04 17:10] #109 closed

[2021-11-23 00:01] njwest opened #113 ".heex support not yet available via Atom package management GUI"
Would be nice to get this latest version of language-elixir onto the Atom registry, but in the meantime this package with HEEX support can be installed via the following steps:

1. Uninstall the language-elixir from Atom
2. Run the following CLI commands:

[code]

[2021-11-23 11:35] sn3p commented on #113
Yes please!

[2021-11-23 15:09] #113 closed

[2021-11-23 15:10] keathley commented on #113
sorry about that. I had to get apm and all of that noise set up on this computer. It should be published now.

[2021-11-23 15:20] keathley commented on #113
also, if anyone in this thread would like to take over maintenance of this project let me know.

[2021-11-23 15:39] sn3p commented on #113
You could advertise this in the README.md which also shows in APM. Might get some more attention that way.

[2021-12-08 19:33] jtormey opened #114 "Support for HEEx syntax highlighting in sigil_H"
It would be nice to have syntax highlighting support in templates defined in Elixir code, with `~H"""` or similar.

Is this in scope for this project? Happy to look into it and open a PR if so!

[2022-01-26 18:39] keathley commented on #114
Feel free to submit a PR for specific heex syntax additions.

[2022-06-06 15:16] Mihailo92 opened #115 "Atom install packages"
In Atom text editor when installing language-elixir 0.25.2 Elixir language support for Atom it wont install it is paused